
<table>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Количество автомобилей</th>
      <th>Просмотр</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
    <ng-content>
    </ng-content>
  </table>