table {
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
    }
    th {
    background: #007FBA;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 5px;
    }
    th:last-child {
    border-top-right-radius: 5px;
    border-right: none;
    }
   