<div class="container">
  <h1>Владельцы автомобилей</h1>
  <button 
  class="add-owner" 
  (click)="redirectToCreateOwner()">
    Добавить владельца
  </button>
  <app-owners-table>
    <ng-container *ngFor="let owner of owners">
      <tr >
        <td>{{owner.aLastName}}</td>
        <td>{{owner.aFirstName}}</td>
        <td>{{owner.aMiddleName}}</td>
        <td>{{owner.aCars.length}}</td>
        <td (click) = "redirectToViewOwner(owner.id)"><div class="material-icons visibility">visibility</div></td>
        <td (click) = "redirectToEditOwner()"><div class="material-icons edit">mode_edit</div></td>
        <td (click)="onDeleteOwner(owner.id)">
          <div class="material-icons delete">
            delete
          </div>
        </td>
      </tr>
    </ng-container>
  </app-owners-table>
</div>
