h1 {
    color: #8d8b87;
}

td {
    padding: 15px 0;
    border-bottom: 1px solid #8d8b87;
}

.add-owner {
    background-color: #54b17b;
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    padding: 15px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
