<div class="container">
  <form
    class="form"
    [formGroup]="ownerForm"
    (ngSubmit)="onAddOwner()"
    *ngIf=" create === true"
  >
    <div>
      <h2>Ваши данные</h2>
      <div>
        <input
          type="text"
          formControlName="aFirstName"
          placeholder="Имя"
          [readonly]="readOn"
        />
      </div>

      <div>
        <input
          formControlName="aLastName"
          placeholder="Фамилия"
          [readonly]="readOn"
        />
      </div>
      <div>
        <input
          formControlName="aMiddleName"
          placeholder="Отчество"
          [readonly]="readOn"
        />
      </div>
    </div>
    <div class="board-add">
      <button
        *ngIf="create === true"
        type="submit"
        [disabled]="!ownerForm.valid"
      >
        Добавить машину
      </button>
    </div>
  </form>

  <form
    *ngIf="addCar === true"
    class="form"
    [formGroup]="carForm"
    (ngSubmit)="onAddCar()"
  >
    <div>
      <h2>Автомобиль</h2>
      <div>
        <input
          type="text"
          formControlName="number"
          placeholder="Номер"
          [readonly]="readOn"
        />
      </div>
      <div>
        <input
          formControlName="brand"
          placeholder="Марка"
          [readonly]="readOn"
        />
      </div>
      <div>
        <input
          formControlName="model"
          placeholder="Модель"
          [readonly]="readOn"
        />
      </div>
      <div>
        <input formControlName="year" placeholder="Год" [readonly]="readOn" />
      </div>

      <button *ngIf="create === true" type="submit" [disabled]="!carForm.valid">
        Сохранить (машина)
      </button>
  
    </div>
  </form>

  <div *ngIf=" view === true">
    <h2>Данные водителя</h2>
    <div>
      <p>{{ownerById?.aFirstName}}</p>
      <p>{{ownerById?.aLastName}}</p>
      <p>{{ownerById?.aMiddleName}}</p>
    </div>
    <h2>Автомобили водителя</h2>
    <div *ngFor="let carsByOwner of ownerById?.aCars">
      <p>{{carsByOwner?.number}}</p>
      <p>{{carsByOwner?.brand}}</p>
      <p>{{carsByOwner?.model}}</p>
      <p>{{carsByOwner?.year}}</p>
      <p (click)="ondeleteCar(carsByOwner?.id)">Удалить</p>
    </div>
  </div>

  <button (click)="redirectOnMainPage()">Назад</button>
</div>
