@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
}

.visibility,
.edit {
  color: rgb(165, 165, 165);
}

.delete {
  color: rgb(255, 112, 112);
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
}

.container {
    width: 800px;
    margin: 0 auto;
}